@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color1: #092635;
  --primary-color2: #1b4242;
  --primary-color3: #5c8374;
  --primary-color4: #9ec8b9;
  --primary-text1: rgb(255, 255, 255);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #e3e3e3;
  position: relative;
}
.navbar a {
  text-decoration: none;
  color: var(--primary-text1);
}

.navbar {
  width: 100%;
  background-color: var(--primary-color1);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.useraccount {
  position: relative;
  border-radius: 8px;
  padding: 0 10px;
  line-height: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.U-photo {
  padding: 2px;
  border: 1px solid var(--primary-text1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.photo img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.u-name {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.role {
  font-size: 0.938rem;
  font-weight: 300;
  text-transform: capitalize;
}

.notification {
  position: relative;
}

.notif {
  font-size: 1.875rem;
  padding: 0 10px;
}

.notification a button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px 40px 40px 40px;
  color: var(--primary-text1);
}

.notification a button:active {
  color: white;
  background-color: var(--primary-color1);
}

.notif::before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: var(--primary-text1);
  color: var(--primary-text1);
  left: 0px;
}

/* end for nab bar */

/* start of side bar */
.side-bar-titles {
  margin-bottom: 10px;
}

.leftside-contents {
  padding-top: 50px;
  background-color: var(--primary-color1);
  max-width: 280px;
  width: 100%;
  /* z-index: -1; */
  height: 100vh;
  position: fixed;
  top: 71px;
  width: 100%;
  /* padding-left: 20px; */
}

.leftside-contents div button {
  background: none;
  color: var(--primary-text1);
  font-size: 1.375rem;
  font-weight: 400;
  width: 100%;
  text-align: start;
  padding: 20px 0 20px 30px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.leftside-contents div a button:hover {
  color: var(--primary-text1);
  background-color: var(--primary-color3);
}

.side-bar-titles a button {
  display: flex;
}

.last {
  position: absolute;
  right: 0;
  transition: 300ms ease;
}

@media only screen and (max-height: 800px) {
  .leftside-contents {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .leftside-contents::-webkit-scrollbar {
    display: none;
  }
}

/* sidebar end */

/* calender-notices and annoucnements */

.calender-announcement-notices {
  position: fixed;
  top: 0;
  right: -500px;
  background-color: var(--primary-color1) !important;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  padding: 20px 20px 0 20px;
  z-index: 10000;
  transition: right 0.5s ease;
}

.calender-announcement-notices.active {
  right: 0;
}

body.calender-announcement-notices-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.calender-announcement-notices.active::before {
  display: block;
}
body.calender-announcement-notices-active {
  overflow: hidden;
}

.exit-calendar-announcement-notices {
  display: flex;
  justify-content: space-between;
}

.notif-title {
  color: var(--primary-text1);
  font-size: 1.875rem;
  font-weight: 500;
}

.x-mark button {
  background-color: transparent;
  cursor: pointer;
}

.x-mark button i {
  font-size: 1.875rem;
  color: var(--primary-text1);
  margin-right: 35px;
}

.calendar-full {
  color: var(--primary-text1);
  background-color: #1a4155;
  padding: 10px 20px;
  border-radius: 5px;
  height: 320px;
  margin-top: 40px;
  /* border: 1px solid var(--primary-text1); */
}

.today {
  background: #0e2430;
  border: 1px solid var(--primary-text1);
}

.navigation button {
  font-size: 1.375rem;
}

.calendar-full .navigation {
  display: flex;
  justify-content: space-between;
}

.calendar-full .navigation button {
  background-color: transparent;
  color: var(--primary-text1);
}

.cal-side-arrow {
  border: 1px solid var(--primary-text1);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cal-side-arrow:hover {
  background-color: #18214173 !important;
}

#currentDate {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

#calendar {
  width: 100%;
  text-align: center;
  line-height: 2;
}

#calendar thead tr th:nth-child(7),
#calendar tr td:nth-child(7) {
  color: #fd4747;
}

.active:not(.notif-btn) {
  background-color: var(--primary-color3);
}

.middle-content {
  width: 80%;
  /* max-width: 1200px; */
  /* width: 100%; */
  /* height: 1000px; */
  margin-top: 80px;
  min-width: 810px;

  display: flex;
  align-items: center;
  /* margin-left: 400px; */
  margin-left: 20%;
  margin-bottom: 80px;
  /* height: 1000px; */
  /* background-color: white; */
}

.inner-middle-content {
  max-width: 1200px;
  width: 100%;
  /* background-color: white; */
  height: 100%;
  /* background-color: aqua; */
}

/* Events */

.event-notif {
  width: 360px;
}

.event-show {
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: #1a4155;
}

.announcement-show {
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: #1a4155;
}

/* Events */
