@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.Result-container {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 20px;
}

.container {
  padding: 20px;
}

fieldset {
  border: 1px solid black;
  padding: 40px 30px;
  border-radius: 5px;
  font-size: 1.125rem;
  padding-bottom: 20px !important;
}
legend {
  font-size: 1.25rem;
  font-weight: 500;
}

.title-result {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.input-assign-title {
  margin-left: 40px;
  font-size: 1.25rem;
  font-weight: 400;
}

.input-assign-title input {
  border: 1px solid black;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 5px;
  min-width: 400px;
  outline: none;
}

.result-text-result-table {
  width: 100%;
  margin-left: 30px;
}

.assign-teacher {
  border-collapse: collapse;
  margin-top: 20px;
}

.assign-teacher tr td {
  border: 1px solid black;
}

.assign-teacher tr:nth-child(1) td,
.assign-teacher tr td:nth-child(1) {
  padding: 10px;
}

.assign-teacher tr:not(td:nth-child(12)) td:not(td:nth-child(1)) {
  min-width: 300px;
  text-align: center;
}

.assign-btn-result {
  width: 100%;
  display: flex;
  justify-content: right;
}

.assign-btn-result button {
  padding: 10px 15px;
  font-size: 1.125rem;
  color: white;
  background-color: green;
  cursor: pointer;
}

.assign-teacher tr td select {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.125rem;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.assigned-list p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.assigned-list span {
  margin-left: 40px;
  font-size: 1.25rem;
  font-weight: 400;
}

.status-result {
  max-width: 1040px;
  width: 100%;
  border-collapse: collapse;
  margin-left: 30px;
  margin-top: 10px;
}

.status-result tr td {
  border: 1px solid black;
  padding: 10px;
  font-size: 1.125rem;
}

.status-result tr:not(:nth-child(1)) td:not(:nth-child(1)) {
  cursor: pointer;
}

.status-result tr:not(:nth-child(1)) td:not(:nth-child(1)):hover {
  color: red;
}

.status-result tr td:not(td:nth-child(1)) {
  text-align: center;
}

.status-result tr td:nth-child(1) {
  width: 140px;
}

.btn-statusResult {
  display: flex;
  justify-content: right;
  gap: 15px;
}

.btn-statusResult button {
  color: white;
  padding: 10px 15px;
  font-size: 1.125rem;
}

.displayMarksInAdmin {
  width: 1300px;
  height: 800px;
  box-shadow: 0 0 2px 2px rgba(179, 179, 179, 0.548);
  background-color: white;
  position: fixed;
  top: -1000px;
  left: 450px;
  transition: top 100ms ease-in-out;
  z-index: 10000;
}

.displayMarksInAdmin-click {
  top: 80px !important;
  transition: top 250ms ease-in-out !important;
}

.overlay55 {
  position: fixed;
  z-index: 9999;
  width: 10000px;
  height: 10000px;
  top: -1000px;
  left: -1000px;
  background-color: rgba(255, 255, 255, 0);
  display: none;
}

.wholeContainer-resultAdmin {
  padding: 50px;
}

.top-adminResult {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top-adminResult-middle {
  font-size: 1.5rem;
  font-weight: 500;
}

.top-adminResult-close i {
  font-size: 2rem;
  font-weight: 400;
}

.top-adminResult-close i:hover {
  cursor: pointer;
  color: red;
}

.middle-part-resultbox p {
  font-size: 1.125rem;
  font-weight: 400;
}

.middle-part-resultbox {
  margin-bottom: 10px;
}

#resultbox {
  overflow: scroll;
  height: 600px;
}

.resultbox-table {
  border-collapse: collapse;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.resultbox-table tr td {
  border: 1px solid black;
}

.resultbox-table tr td input {
  width: 80px;
  text-align: center;
  font-size: 1.125rem;
  padding: 5px;
  outline: none;
}

.resultbox-table tr td:not(:nth-child(1)) {
  text-align: center;
  width: 100px;
  font-size: 1.125rem;
  padding: 5px;
}

.resultbox-table tr td:nth-child(1) {
  padding: 5px;
}

.btn-submit-resultStudents {
  width: 100%;
  display: flex;
  justify-content: right;
}

.btn-submit-resultStudents button {
  color: white;
  background-color: green;
  padding: 8px 15px;
  font-size: 1.125rem;
}

.btn-submit-resultStudents button:hover {
  cursor: pointer;
}
