@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color1: #092635;
  --primary-color2: #1b4242;
  --primary-color3: #5c8374;
  --primary-color4: #9ec8b9;
  --primary-text1: rgb(255, 255, 255);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.assignment-container {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 20px;
}

fieldset {
  border: 1px solid black;
  padding: 40px 30px;
  border-radius: 5px;
  font-size: 1.125rem;
  padding-bottom: 20px !important;
}
legend {
  font-size: 1.25rem;
  font-weight: 500;
}

fieldset {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.125rem;
}

legend {
  font-weight: 400;
  margin-left: 20px;
}

#assignment-table {
  border-collapse: collapse;
}

#assignment-table tr td input,
#assignment-table tr td textarea {
  margin: 5px 20px;
  width: 300px;
  font-size: 1.125rem;
}

#assignment-table tr td textarea {
  resize: vertical;
}

.assignment-btn-submit {
  width: 100%;
  display: flex;
  justify-content: left;
}

.assignment-btn {
  padding: 5px 10px;
  color: white;
  background-color: green;
  font-size: 1.125rem;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
}

.assignment-table-show {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.assignment-table-show tr td {
  padding: 8px;
  font-size: 1.125rem;
}

.assignment-table-show tr td:nth-child(1) {
  width: 45px;
  text-align: center;
}

.assignment-table-show tr td:nth-child(2) {
  padding-left: 20px;
  overflow-wrap: break-word;
  width: 500px;
}

.assignment-table-show tr td:nth-child(5) {
  width: 180px;
  text-align: center;
}

.assignment-table-show tr td:nth-child(3),
.assignment-table-show tr td:nth-child(4) {
  width: 130px;
  text-align: center;
}

.assignment-table-show tr td:nth-child(6) {
  width: 200px;
  text-align: center;
}

#selectSectionAssignment,
#selectClassAssignment,
#selectSubjectAssignment {
  border: 1px solid black;
  outline: none;
  padding: 5px;
  width: 130px;
  margin-left: 20px;
  font-size: 1.125rem;
}

#selectClassAssignment,
#selectSectionAssignment {
  margin-bottom: 10px;
}

#selectClassAssignmentUpdate,
#selectSelectAssignmentUpdate,
#selectSubjectAssignmentUpdate {
  border: 1px solid black;
  outline: none;
  padding: 5px;
  width: 130px;
  font-size: 1.125rem;
}
#selectClassAssignmentUpdate {
  margin-bottom: 5px;
}

.btn-assignments {
  display: flex;
  gap: 10px;
}

.btn-assign {
  font-size: 1.125rem;
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.assignment-table-show tr:nth-child(1) {
  background-color: #4591b8 !important;
  font-weight: 400;
}

.assignment-table-show tr:nth-child(odd) {
  background-color: #f7f7f7;
}

/* popups */

.popup-assignment-submit {
  box-shadow: 0 0 2px 2px rgb(173, 173, 173);
  background-color: white;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: -10000px;
  left: 43%;
  transition: top 500ms;
}

.title-logo {
  color: rgb(32, 231, 32);
  font-size: 5rem;
  margin-top: 20px;
}

.popup-assignment-submit .title {
  font-size: 1.125rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popup-assignment-submit-clicked {
  top: 120px !important;
  transform: top 250ms !important;
}

.popup-assignment-update-successfully {
  box-shadow: 0 0 2px 2px rgb(173, 173, 173);
  background-color: white;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: -10000px;
  left: 43%;
  transition: top 500ms;
}

.popup-assignment-update-successfully .title {
  font-size: 1.125rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popup-assignment-delete-successfully {
  box-shadow: 0 0 2px 2px rgb(173, 173, 173);
  background-color: white;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: -10000px;
  left: 43%;
  transition: top 500ms;
}

.popup-assignment-delete-successfully .title-logo {
  color: rgb(255, 22, 22);
}

.popup-assignment-delete-successfully .title {
  font-size: 1.125rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.assignment-delete {
  box-shadow: 0 0 2px 2px rgb(173, 173, 173);
  background-color: white;
  width: 350px;
  display: flex;
  visibility: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 300px;
  left: 43%;
  z-index: 10001;
  transform: scale(0);
}

.title-logo-delete {
  color: red;
  font-size: 5rem;
  margin-top: 20px;
}

.assignment-delete .title {
  font-size: 1.125rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-delete-assignment {
  display: flex;
  gap: 50px;
}

.delete-btn-assignment {
  font-size: 1.125rem;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
}

.overlay {
  position: fixed;
  height: 10000px;
  width: 10000px;
  top: -500px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.assignment-delete-popup {
  visibility: visible !important;
  transform: scale(1) !important;
  transition: transform 350ms;
}

.update-assignment {
  box-shadow: 0 0 2px 2px rgb(173, 173, 173);
  background-color: white;
  width: 450px;
  position: fixed;
  top: -1000px;
  left: 43%;
  z-index: 10001;
  transition: top 100ms;
}

.update-assignment form {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  padding-left: 70px;
}

#update-assignment-table {
  width: 100%;
  font-size: 1.125rem;
}

#update-assignment-table tr td input,
#description-textarea {
  border: 1px solid black;
  width: 300px;
  padding: 8px;
  font-size: 1.125rem;
  resize: none;
  overflow: auto;
  outline: none;
  margin-bottom: 10px;
}

#description-textarea {
  height: 222px;
}

.btn-update-assignments {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 30px;
}

.update-btn-assingments {
  color: white;
  padding: 8px 15px;
  font-size: 1.25rem;
  cursor: pointer;
}

.update-assignment-show {
  top: 140px;
  transition: top 350ms;
}
